/* chart */
#chartContainer {
  position: relative;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0px;
}
/* stocks */
#stocks {
  position: relative;
}
/* add */
input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

input:hover {
  border: 1px solid #88d;
}

#addBtn {
  padding: 5px;
  width: 50px;
  background-color: #55af55;
  border: 1px solid #3b3;
  color: #eee;
  border-radius: 3px;
}

#addBtn:hover {
  background-color: #5b5;
}

/* list */
#list {
  margin: 10px 0px;
}

.stock {
  display: inline-block;
  position: relative;
  min-height: 110px;
  border: 1px solid #ddd;
  margin-top: 3px;
  padding-left: 20px;
  color: #333;
  border-radius: 3px;
  margin-right: 12px;
  margin-bottom: 6px;
}

.del {
  position: absolute;
  width: 22px;
  border: 1px solid ;
  right: 10px;
  top: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #e55;
  color: white;
  border-radius: 3px;
}

.del:hover {
  background-color: #f55;
}